# Project exclude paths
/out/

src/com/second/algorithm/exam/kakao/mobility
src/com/second/algorithm/exam/socar
src/com/second/algorithm/exam/devmatching
src/com/second/algorithm/exam/line
src/com/second/algorithm/exam/jobisvillains
src/com/second/algorithm/exam/toss
src/com/second/algorithm/exam/street
src/com/second/algorithm/exam/nexon
src/com/algorithm/Programmers/SK
src/com/algorithm/Programmers/test

