# Project exclude paths
/out/

/DailyAlgoritm/src/com/second/algorithm/exam/toss/
/DailyAlgoritm/src/com/second/algorithm/exam/street/
/DailyAlgoritm/src/com/algorithm/Programmers/SK
DailyAlgoritm/src/com/algorithm/Programmers/test